<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="fichierLignes" value="lignes.data"/>
    <add key="sourceLignes" value="C:\Users\HP 750-240nf\Desktop\MetroCode 2\MetroWPF\bin\Debug\"/>
    <add key="fichierStations" value="stations.data"/>
    <add key="sourceStations" value="C:\Users\HP 750-240nf\Desktop\MetroCode 2\MetroWPF\bin\Debug\"/>
    <add key="sourceLog" value="C:\Users\HP 750-240nf\Desktop\MetroCode 2\MetroWPF\bin\Debug\Data\Log"/>
  </appSettings>
</configuration>