<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key="fichierLignes" value="lignes.data"/>
      <add key="sourceLignes" value="C:\Users\HP 750-240nf\Desktop\MetroCode 2\MetroWPF\bin\Debug\"/>
      <add key="fichierStations" value="stations.data"/>
      <add key="sourceStations" value="C:\Users\HP 750-240nf\Desktop\MetroCode 2\MetroWPF\bin\Debug\"/>
    </appSettings>
</configuration>